body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Header section */
.header {
    background-color: #1f2937;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #f9faf8;
}

.header-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header-nav a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    margin-left: 24px;
}

/* Hero Section */

.hero {
    padding: 16px 120px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.left,
.right {
    flex: 1;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.hero a {
    color: #e5e7eb;
}

/* Both Button for using Same Styles*/
.hero .btn,
.calling-section .btn {
    background-color: #3883f6;
    padding: 8px 24px;
    font-size: 18px;
    color: #e5e7eb;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
}