body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Header section */
.header {
    background-color: #1f2937;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #f9faf8;
}

.header-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header-nav a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    margin-left: 24px;
}

/* Hero Section */

.hero {
    padding: 16px 120px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.left,
.right {
    flex: 1;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.hero a {
    color: #e5e7eb;
}

/* Both Button for using Same Styles*/
.hero .btn,
.calling-section .btn {
    background-color: #3883f6;
    padding: 8px 24px;
    font-size: 18px;
    color: #e5e7eb;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
}


/* info section */
.info-section {
    padding: 16px 120px;
}

.info-section h2 {
    margin: 24px 0;
    padding: 0;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.info-section .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 12px;
    width: 85%;
    margin: 24px auto;
    padding: 16px 120px;
}

.info-section .card {
    display: flex;
    flex-direction: column;
}

.info-section .img-card {
    width: 150px;
    height: 150px;
    border: 3px solid #3883f6;
    border-radius: 18px;
    margin: auto;
}

/* Quote section */

.quote-section {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 120px 120px;
}

.quote-section blockquote {
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    margin: 0px 95px;
}

.quote-section p {
    margin: 0 95px;
    padding: 0;
    text-align: right;
    font-size: 25px;
    font-weight: bold;
}

/* calling Section */
.calling-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3883f6;
    width: 70%;
    margin: 60px auto;
    padding: 40px;
    border-radius: 18px;
}

.calling-section h2,
.calling-section p {
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 25px 0px;
}